.App{
   min-height: 100vh;
   background: #483b83
}

.App-header {
  background-color: #591e80;
  display: flex;
  height: 3.5rem;
  align-items: center;
  place-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 8px 0;
}

header span{
   color:#4227bb;
}

.Container-results-playlist {
   margin-top: 5rem;
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
}


